USE [MyFirstFullStackApp_DEV]
GO
ALTER TABLE [dbo].[Test] DROP CONSTRAINT [FK__Test__CandidateI__5EBF139D]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 10-10-2018 16:16:30 ******/
DROP TABLE [dbo].[Test]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 10-10-2018 16:16:30 ******/
DROP TABLE [dbo].[Question]
GO
/****** Object:  Table [dbo].[Candidate]    Script Date: 10-10-2018 16:16:30 ******/
DROP TABLE [dbo].[Candidate]
GO
